<p id="notice"><%= notice %></p>

<%= react_component("samples", { samples: @presentation.samples, account_tags: @tags }) %> 

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
