/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "modal";
 @import "samples";

.top-border-green {
    border-top: 6px solid #28a745;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
} 

.bottom-border {
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.main {
    margin: 10px;
}

.main-bg {
    background: #fafafa;
}

.navbar {
    text-decoration: none !important;
    text-decoration-color: #bbb;

    h1 {
        font-size: 2em;
        font-weight: 350;
    }
}

.nav-email  {
    padding: .5rem 1rem;
    margin-bottom: 0;
    color: white;
}


.navbar-background {
    box-shadow: 0 1px 0 #4d4d4d inset,0 2px 3px rgba(0,0,0,0.25) !important
}
